:root{
	--bgTheme:#fc496dff;
	--textColor:rgb(255,255,255);
}

body{
	background-color:black;
	font-family:sans-serif;
	overflow-x:hidden;
	padding:0px;
	margin:0px;
	color:var(--textColor);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

#pieClicker{
	position:absolute;
	left:0%;
	top:0%;
	width:30%;
	height:100%;
}

#pie{
	cursor:pointer;
	position:absolute;
	width:90%;
	height:auto;
	left:5%;
	top:15%;
}

#pieCount{
	position:absolute;
	width:100%;
	top:0%;
	left:0%;
	height:3%;
	text-align:center;
	background-color:var(--bgTheme);
	font-size:2.5vh;
	overflow:hidden;
}

#pieGRate{
	position:absolute;
	width:100%;
	top:3%;
	left:0%;
	height:3%;
	text-align:center;
	background-color:var(--bgTheme);
	font-size:2.5vh;
	overflow:hidden;
}

#pieRightD{
	position:absolute;
	left:30%;
	top:0%;
	height:100%;
	width:0.5%;
	background-color:var(--bgTheme);
}

#pieUpgrades{
	background-image:url("./assets/UpgradesBackground.png");
	background-repeat:round;
	position:absolute;
	left:30.5%;
	width:30%;
	height:100%;
	top:0%;
}

.slightPadding{
	position:absolute;
	left:0%;
	width:95%;
	margin-left:5%;
	height:96%;
	top:4%;
}

#upgradesTitle{
	position:absolute;
	width:100%;
	top:0%;
	left:0%;
	height:4%;
	text-align:center;
	background-color:var(--bgTheme);
	font-size:3vh;
	overflow:hidden;
}

.pieUpgrade{
	cursor:pointer;
	width:90%;
	height:auto;
}

#pieRightF{
	position:absolute;
	left:60.5%;
	top:0%;
	height:100%;
	width:0.5%;
	background-color:var(--bgTheme);
}

#pieOtherMenu{
	position:absolute;
	left:61%;
	width:39%;
	height:100%;
	top:0%;
}

#otherMenuTitle{
	position:absolute;
	width:100%;
	top:0%;
	left:0%;
	height:4%;
	text-align:center;
	background-color:var(--bgTheme);
	font-size:3vh;
	overflow:hidden;
}

.otherMenuOption{
	display:inline-flex;
	cursor:pointer;
	position:relative;
	width:45%;
	height:auto;
}

.btnText{
	position:absolute;
	top:25%;
	left:0%;
	width:100%;
	text-align:center;
	font-size:2vw;
}

#creditsOverlay{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:9999;
	background-color:black;
}

#creditsName{
	display:none;
	position:absolute;
	top:40%;
	left:0%;
	width:100%;
	font-size:50px;
	color:var(--bgTheme);
	text-align:center;
}

#creditsTitle{
	display:none;
	position:absolute;
	top:50%;
	left:0%;
	width:100%;
	font-size:35px;
	color:var(--bgTheme);
	text-align:center;
}

#pieBackground{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:-5%;
}

@keyframes GoUp{
	0%{
	  	opacity:1;
	}100%{
		top:15%;
		opacity:0;
	}
}

#messageBar{
	display:none;
	position:absolute;
	top:80%;
	left:25%;
	width:50%;
	height:5%;
	font-size:25px;
	background-color:var(--bgTheme);
	border-radius:8px;
}

.centerText{
	position:absolute;
	top:50%;
	left:0%;
	width:100%;
	text-align:center;
	transform:translate(0%,-50%);
}
