:root {
	touch-action: pan-x pan-y;
	--bgTheme: #fc496dff;
	--textColor: rgb(255, 255, 255);
	--tooltipbg: rgb(25, 25, 25);
}

@font-face {
	font-family: CenturyGothic;
	src: url("./assets/CenturyGothic.ttf");
}

body {
	font-family: CenturyGothic;
	background-color: black;
	touch-action: pan-x pan-y;
	color: var(--textColor);
	overflow-x: hidden;
	user-select: none;
	padding: 0px;
	margin: 0px;
}

#pieClicker {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 30%;
	height: 100%;
}

#pie {
	cursor: pointer;
	position: absolute;
	width: 90%;
	height: auto;
	left: 5%;
	top: 15%;
}

#pieCount {
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 3%;
	text-align: center;
	background-color: var(--bgTheme);
	font-size: 2.5vh;
}

#pieGRate {
	position: absolute;
	width: 100%;
	top: 3%;
	left: 0%;
	height: 3%;
	text-align: center;
	background-color: var(--bgTheme);
	font-size: 2.5vh;
}

#pieRightD {
	position: absolute;
	left: 30%;
	top: 0%;
	height: 100%;
	width: 0.5%;
	background-color: var(--bgTheme);
}

#pieUpgrades {
	background-image: url("./assets/UpgradesBackground.png");
	background-repeat: round;
	position: fixed;
	left: 30.5%;
	width: 30%;
	height: 100%;
	top: 0%;
}

.slightPadding {
	position: absolute;
	left: 0%;
	width: 95%;
	margin-left: 5%;
	height: 96%;
	top: 4%;
}

@keyframes GoUp{
	0%{
	  	opacity:1;
	}100%{
		font-size:17px;
		top:15%;
		opacity:0;
	}
}

#upgradesTitle {
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 4%;
	text-align: center;
	background-color: var(--bgTheme);
	font-size: 3vh;
}

.pieUpgrade {
	padding-bottom: 2%;
	position: relative;
	cursor: pointer;
	width: 90%;
	height: auto;
}

#pieRightF {
	position: absolute;
	left: 60.5%;
	top: 0%;
	height: 100%;
	width: 0.5%;
	background-color: var(--bgTheme);
}

#pieOtherMenu {
	background-image: url('./assets/BrickTexture.png');
	background-repeat: repeat;
	position: fixed;
	left: 61%;
	width: 39%;
	height: 100%;
	top: 0%;
}

#otherMenuTitle {
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 4%;
	text-align: center;
	background-color: var(--bgTheme);
	font-size: 3vh;
}

.otherMenuOption {
	display: inline-flex;
	cursor: pointer;
	position: relative;
	width: 45%;
	height: auto;
}

.btnText {
	position: absolute;
	top: 25%;
	left: 0%;
	width: 100%;
	text-align: center;
	font-size: 2vw;
}

#creditsOverlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: black;
}

#creditsName {
	display: none;
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	font-size: 50px;
	color: var(--bgTheme);
	text-align: center;
}

#creditsTitle {
	display: none;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	font-size: 35px;
	color: var(--bgTheme);
	text-align: center;
}

#pieBackground {
	position: fixed;
	top: 0%;
	left: 0px;
	height: 100%;
	z-index: -5%;
}

#messageBar {
	display: none;
	position: fixed;
	z-index: 99999;
	top: 80%;
	left: 25%;
	width: 50%;
	height: 5%;
	font-size: 2.5vh;
	background-color: var(--bgTheme);
	border-radius: 8px;
}

.centerText {
	cursor: inherit;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	text-align: center;
	transform: translate(0%, -50%);
}

.uis_half {
	padding-left: 12.5px;
	width: 50%;
	word-wrap: break-word;
}

.uis_exit {
	cursor: pointer;
	position: absolute;
	left: 96%;
	top: 2%;
	width: 2%;
	height: auto;
}

#introScreen {
	background-color: black;
	position: fixed;
	z-index: 99999;
	display: block;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}

#is_centerV {
	position: absolute;
	height: 20%;
	top: 35%;
	left: 0%;
	width: 100%;
}

#is_centerH {
	position: absolute;
	left: 50%;
	top: 0%;
	height: 100%;
	transform: translate(-50%, 0%);
}

#popupMenu {
	display: none;
	position: absolute;
	width: 25%;
	left: 37.5%;
	height: 25%;
	top: 30%;
	background-color: var(--bgTheme);
	border: solid black 2px;
	border-radius: 5px;
}

#pm_text {
	position: absolute;
	width: 90%;
	height: 40%;
	text-align: center;
	top: 30%;
	left: 50%;
	font-size: 1.25vw;
	transform: translate(-50%, -50%);
}

#pm_btn1 {
	position: absolute;
	width: 45%;
	height: 20%;
	text-align: center;
	top: 75%;
	left: 3.33%;
	font-size: 1vw;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#pm_btn2 {
	position: absolute;
	width: 45%;
	height: 20%;
	text-align: center;
	top: 75%;
	left: 51%;
	font-size: 1vw;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#settingsMenu {
	display: none;
	position: absolute;
	width: 80%;
	left: 10%;
	height: 90%;
	top: 5%;
	border-style: solid;
    border-radius: 7px;
    border-color: black;
    border-width: 3.5px;
    background-color: var(--bgTheme);
    font-size: 1vw;
}

.settingsBtn {
	width: 15%;
	height: auto;
}

#cheatingText {
	position: fixed;
	z-index: 99999;
	top: 45%;
	width: 60%;
	height: 20%;
	left: 20%;
	text-align: center;
	display: none;
	font-size: 3vh;
}

#whatIsPlayingContainer {
	display: none;
	position: absolute;
	left: 75%;
	width: 25%;
	height: 12.5%;
	top: 80%;
	background-color: var(--bgTheme);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#whatIsPlayingCover {
	padding: 6px;
	position: absolute;
	height: 100%;
	width: auto;
	left: 0%;
	top: 0%;
}

#whatIsPlayingTrack {
	position: absolute;
	width: 80%;
	left: 20%;
	top: 0%;
	text-align: center;
	font-size: 5vh;
}

#whatIsPlayingArtist {
	position: absolute;
	width: 80%;
	left: 20%;
	top: 50%;
	text-align: center;
	font-size: 3.5vh;
}

#upgradeShowAll {
	position: absolute;
	width: 25%;
	height: 2%;
	left: 0%;
	top: 4%;
}

#upgradeShowPPS {
	position: absolute;
	width: 25%;
	height: 2%;
	left: 25%;
	top: 4%;
}

.sortButton {
	font-size: 2vh;
	background-color: var(--bgTheme);
	cursor: pointer;
}

#upgradeShowPPC {
	position: absolute;
	width: 25%;
	height: 2%;
	left: 50%;
	top: 4%;
}

#upgradeShowPEU {
	position: absolute;
	width: 25%;
	height: 2%;
	left: 75%;
	top: 4%;
}

.slightPaddingUpgrades {
	position: absolute;
	left: 0%;
	width: 95%;
	margin-left: 5%;
	height: 94%;
	top: 6%;
}
